:root {
    --rosaprimario: #FF449E;
    --brancoprimario:  white
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BAR LEFT SIDE */

.fixed-bar-left {
    width: 16vw;
    background: #fcfcfc;
    position: fixed;
    display: block;
    height: 100vh;
}

.fixed-bar-left .top {
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.fixed-bar-left .top img {
    width: 8vw;
}

.fixed-bar-left .top label {
    font-size: 1.2vw;
    color:  var(--brancoprimario);
}

.options {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.metasparaalcancar {
    background-color: white;
    padding: 1vw;
    margin-top: 1vh;
    border-radius: 1vw;
}

.counttometaanual, .counttometa {
    color: rgb(2, 2, 2);
    font-weight: 600;
}


.options h1{
    color: rgb(0, 0, 0);
    font-size: 01vw;
    margin-bottom: 2vh;
}

.options .options-cards .card-bar {
    background: #e4e4e4;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    padding: 1vw;
    align-items: center;
    justify-content: space-between;
    border-radius: 0vw;
    border-radius: 1vw;
    color: rgb(10, 10, 10);
}

.options .options-cards .card-bar:hover {
    background: #D4D4D4;
    transition: 300ms;
}

.options .options-cards .card-bar h1 {
    color: rgb(0, 0, 0);
}

.item-opcoes-down i {
    padding-right: 2vw;
}

.options .options-cards a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.3vw;
}

#selectedcardbar, #selectedcardbar h1 {
    color: var(--rosaprimario);
}

#lucrolinha {
    color: green;
}
/* PAGE */

.overview-page {
    margin-left: 16vw;
}

.header-page {
    display: flex;
    padding: 1vw;
    justify-content: space-between;
    background-color: transparent;
}

.header-page h1 {
    font-size: 2vw;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile i {
    font-size: 1vw;
    cursor: pointer;
}

.profile i:hover {
    color: var(--rosaprimario);
}

.profile-change {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1vw;
    padding-left: 1vw;
    cursor: pointer;
}

.profile-change img {
    width: 2vw;
    height: 2vw;
    object-fit: cover;
    margin-right: 1vw;
    border-radius: 10vw;
    border: 0.1vw solid black
}

.profile-change label {
    font-size: 1vw;
    margin-right: 0.3vw;
    cursor: pointer;
}

.profile-change:hover, .profile-change i:hover {
    color: grey;
}

/* LOGIN PAGE */

.form {
    margin: auto;
    width: 30vw;
    justify-content: center;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 1vw;
    margin-top: 10vh;
    padding: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    text-align: center;
}

.form h1 {
    font-size: 2.3vw;
    margin-top: 4vh;
    margin-bottom: 5vh;
}

.form label {
    font-size: 1vw;
}

.form .inputs-form .ipt-form{
    display: block;
    text-align: left;
    
}

.form img {
    width: 20vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.ipt-form input{
    width: 100%;
    border: none;
    outline: none;
    padding-bottom: 1vw;
    padding-top: 1vw;
    font-size: 1vw;
}

.iptinside {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1vw solid rgb(197, 197, 197);
    align-items: center;
}

.iptinside i {
    padding-right: 1vw;
    padding-left: 1vw;
    color: rgb(126, 126, 126);
    font-size: 1vw;
}

.form button {
    width: 100%;
    margin-top: 5vh;
    color:  var(--brancoprimario);
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 1vw;
    border: none;
    background-color: var(--rosaprimario);
    cursor: pointer;
    font-size: 1vw;
}

.form button:hover {
    background-color:  var(--brancoprimario);
    color: var(--rosaprimario);
    border: 0.1vw solid var(--rosaprimario);
    transition: 300ms;
}

.continuewith {
    display: none;
}

.accountcontinue img{
    width: 4vw;
    height: 4vw;
    object-fit: cover;
    border-radius: 100vw;
    margin-right: 0.3vw;
}

.accountcontinue-details {
    display: block;
    

}

.accountcontinue-mini {
    display: flex;
    align-items: center;
}

.accountcontinue-details h1 {
    font-size: 1vw;
    margin: 0;
    padding: 0;
}

.accountcontinue-details p {
    font-size: 0.8vw;
}

.accountcontinue i {
    font-size: 1vw;
}

.labelaccount {
    margin-top: 5vh;
}

.labelaccount label{
    cursor: pointer;
}

.labelaccount label:hover{
    color: var(--rosaprimario);
}

.caixa-alerta-erro {
    background-color: red;
    color:  var(--brancoprimario);
    font-size: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: none;
    border-radius: 1vw;
}

.accountcontinue {
    display: flex;
    align-items: center;
    background-color: #E7E7E7;
    padding: 1vw;
    justify-content: space-between;
    padding-top: 0; 
    padding-bottom: 0;
    border-radius: 1vw;
    height: 6vw;
    cursor: pointer;
}

.accountcontinue:hover {
    transition: 500ms;
    background-color: #c5c5c5;
}


/* page */


.sections-semana {
    margin-left: 0vw;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    width: 110vw;
    background: linear-gradient(-45deg, #fd91bb, #fd91bb, #e7e7e7, #e7e7e7);
    padding: 2vw;
    padding-bottom: 70vh;
    border-radius: 2vw;
}

button.addnewline {
    width: 100%;
    background-color: transparent;
    color: black;
    font-size: 0.7vw;
    border: none;
    cursor: pointer;
    text-align: left;
    padding-top: 0.7vh;
    border-radius: 2vw;
    padding-bottom: 0.7vh;
    margin-top: 1vh;
}

button.addnewline:hover {
    background-color: #ececec
}

.block-sections {
    background-color: #F1F2F4;
    padding: 1vw;
    width: 17vw;
    margin-right: 1vw;
    border-radius: 1vw;
    margin-bottom: 1vh;
}

.block-sections h1 {
    font-size: 0.75vw;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 2vh;
}

.linetype{
    width: 100%;
    padding: 0.5vw;
    border-radius: 0.3vw;
    margin-bottom: 1vh;
    outline: none;
    border: none;
    box-shadow: 0.1vw 0.05vw 0.3vw rgb(160, 159, 159);
}

.blockuptoadd {
    background-color: white;
    display: none;
    position: fixed;
    padding: 2vw 4vw 2vw 4vw;
    box-shadow: 0.1vw 0.1vw 0.5vw black;
    border-radius: 0.5vw;
    margin: auto;
    margin-left: 30vw;
    z-index: 200;
    margin-top: 20vh;
}

.blockuptoadd button {
    text-align: center;
    background-color: #FF449E;
    color: white;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
}

.blockuptoadd button:hover {
    text-align: center;
    background-color: white;
    color: #FF449E;
    border: 0.1vw solid #FF449E;
}

.title {
    display: flex;
    background-color: #e4e4e4;
    align-items: center;
    padding-left: 1vh;
    padding-right: 1vh;
    
    border-radius: 0.5vw;
}

.title input {
    background-color: transparent;
    border: none;
    padding: 0.5vh;
    font-size: 0.7vw;
    outline: none;
}

.title i {
    font-size: 0.6vw;
}

.trellolist {
    font-size: 0.7vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: grey;
}

.blockuptoadd h2 {
    font-size: 1vw;
    color: #fd91bb;
    text-align: center;
    margin-bottom: 1vh;
}




.menu-profile-change {
    display: block;
    position: absolute;
    z-index: 200;
    background:  var(--brancoprimario);
    border: 0.1vw solid rgba(0, 0, 0, 0.226);
    border-radius: 0.7vw;
    left: 76vw;
    width: 23vw;
    padding: 0.5vw;
    margin-top: 0.5vh;
    display: none;
}

.backgrond, .background-planosemanal {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background-color: transparent;
    z-index: 100;
}

.background-planosemanal {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    display: none;
}

.userprofileshow {
    display: flex;
    align-items: center;
    padding: 0.5vw;
    border-radius: 5vw;
}

.account-show {
    display: flex;
    align-items: center;
    width: 100%;
}

.userprofileshow:hover {
    background: rgb(224, 223, 223);
    cursor: pointer;
}

.userprofileshow i {
    font-size: 1vw;
}

.account-show img {
    width: 4vw;
    height: 4vw;
    object-fit: cover;
    border-radius: 5vw;
    margin-right: 0.4vw;
}

.infoaccount {
    display: block;
    align-items: center;
    justify-content: center;
}

.infoaccount h1 {
    font-size: 1vw;
    font-weight: 500;
}

.infoaccount p {
    font-size: 0.7vw;
    font-weight: 400;
}

.userbuttonsprofile {
    display: flex;
    justify-content: right;
    margin-top: 0.5vh;
}

.userbuttonsprofile .button-profile {
    padding: 1vw;
    background-color: #E7E7E7;
    border-radius: 5vw;
    font-size: 0.8vw;
    font-weight: 500;
    cursor: pointer;
}

.button-profile label {
    cursor: pointer;
}

/* CONTA */

.form-profile {
    width: 100%;
    margin: auto;
    text-align: center;
    border: 0.1vw solid rgb(219, 219, 219);
    padding: 1vw;
    margin-top: 1vh;
    border-radius: 0.2vw;
    margin-left: 1vw;
    margin-top: 0vh;
}

.form-profile img {
    width: 15vw;
}

.form-profile .fotoperfilprofile {
    width: 15vw;
    height: 15vw;
    border-radius: 10vw;
    object-fit: cover;
}

.titleprofile {
    text-align: center;
    margin-bottom: 3vh;
}

.titleprofile h1{
    font-size: 2vw;
}

.titleprofile p {
    font-size: 1vw;
}

.form-profile-items {
    text-align: left;
}

.infogeralperfil{
    border-left: 0.2vw solid black;
    padding-left: 1vw;
}

.infogeralperfil h1{
    font-size: 1.5vw;
}

.infogeralperfil p{
    font-size: 0.9vw;
}

.form-profile-items img{
    width: 10vw;
    height: 10vw;
    border: 0.1vw solid black;
}

.notifications {
    position: absolute;
    background-color:  var(--brancoprimario);
    border: 0.1vw solid;
    padding: 0.8vw;
    width: 20vw;
    height: 15vw;
    overflow-y: auto;
    left: 70vw;
    border-radius: 1vw;
    display: none;
    z-index: 200;
}

.notifications h1 {
    font-size: 1.4vw;
    margin-top: 1vh;
}

.notifications .not-block {
    background-color: #D9D9D9;
    border-radius: 1vw;
    padding: 1vw;
    margin-top: 2vh;
}

.newItem {
    margin: 3vh;
    padding: 3vh;
    background-color: rgb(238, 236, 236);
    border-radius: 1vw;
}

.newItem h1 {
    font-size: 1.7vw;
}

.newItem p {
    font-size: 0.7vw;
}

.exboxitem {
    margin-top: 1.5vh;
    padding-left: 1.5vw;
}

.boxitempla {
    display: block;
    padding: 0.8vw;
    margin-bottom: 0.8vh;
    font-size: 0.7vw;
    background-color: rgb(226, 225, 225);
    border-radius: 0.5vw;

}

.boxitempla input {
    width: 100%;
    background: transparent;
    font-size: 1vw;
    border: none;
    outline: none;
}

#btnNew {
    margin: auto;
    margin-top: 1vh;
    padding: 0.5vw 2.5vw 0.5vw 2.5vw;
    background-color: var(--rosaprimario);
    color:  var(--brancoprimario);
    border: none;
    border-radius: 0.5vw;
    font-size: 0.7vw;
    cursor: pointer;
    border: 0.1vw solid transparent;
}

#btnNew:hover {
    background-color:  var(--brancoprimario);
    color: var(--rosaprimario);
    border: 0.1vw solid var(--rosaprimario);
}

.divTable {
    margin: 3vh;
    padding: 3vh;
    background-color: rgb(238, 236, 236);
    border-radius: 1vw;

}

.titlecolumns {
    font-size: 1vw;
    color: rgb(0, 0, 0);
    background-color: #ffadd4;
}

tr th{
    width: 30vw;
    text-align: center;
    justify-content: center; 
}

.headeritem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.incomes {
    color: green;
}

.expenses {
    color: red;
}

.resume {
    margin: auto;

    margin: 3vh;
    padding: 2vw;
    background-color: rgb(238, 236, 236);
    border-radius: 1vw;
    font-size: 1vw;
    font-weight: 600;
}

.side2item {
    font-size: 1vw;
    border-radius: 55vw;
    padding: 1vw;
    cursor: pointer;
}

.side2item:hover, .side3item:hover{
    color: var(--rosaprimario);
}

.side3item {
    display: none;
    font-size: 1vw;
    border-radius: 55vw;
    padding: 1vw;
    cursor: pointer;
}

.block {
    width: 17vw;
    background-color: #e4e4e4;
    border-radius: 2vw;
    padding: 2vw;
    font-size: 0.7vw;
    margin-bottom: 1vh;
    margin: 0.5vw;

}

.block:hover {
    background-color: #d4d4d4;
    transition: 500ms;
    cursor: pointer;
}

.block i {
    background-color: var(--rosaprimario);
    border-radius: 10vw;
    font-size: 1vw;
    padding: 1vw;
    margin-bottom: 1vh;
    color:  var(--brancoprimario);
}

.blocks-contents {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    width: 55vw;
}

.contentoverview {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
}

.blocks-contents-right {
    width: 25vw;
    margin-left: 2vh;
    margin-right: 2vh;
}

.toptitlecard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fornecedor img {
    width: 10vw;
    height: 10vw;
    border-radius: 20vw;
    margin-right: 1vw;
}

.flexfornecedor {
    display: flex;
    align-items: center;
}

.fornecedoreslist {
    width: 90%;
    justify-content: center;
    margin: auto;
}

.fornecedoreslist .fornecedor {
    background: #e4e4e4;
    padding: 2vw;
    margin-bottom: 1vh;
    border-radius: 2vw;
    display: flex;
    justify-content: space-between;
}

.fornecedor iframe {
    width: 50%;
    height: 50vh;
    border-radius: 1vw;
}



.toptitlecardmobile {
    display: none;
}

.toptitlecard h1 {
    font-size: 1.6vw;
}

.toptitlecard label {
    color: var(--rosaprimario);
    font-size: 0.8vw;
    cursor: pointer;
    border-bottom: 0.1vw solid transparent;
}

.toptitlecard label:hover {
    border-bottom: 0.1vw solid var(--rosaprimario);
}

.planilha-recents {
    width: 54vw;
    background-color: #e4e4e4;
    overflow: hidden;
    border-radius: 2vw;
}

.block-content {
    width: 100%;
    background-color: #e4e4e4;
    border-radius: 0.5vw;
    padding: 1vw;
    font-size: 0.7vw;
}

.titleplanilhas {
    background-color: #e4e4e4;
    margin: auto;
    padding: 2vw;
    width: 65vw;
    border-radius: 1vw;
    margin-bottom: 2vh;
    font-size: 0.8vw;
}

.planilhablock-a {
    background-color: #e4e4e4;
    margin: auto;
    padding: 2vw;
    width: 50vw;
    border-radius: 1vw;
    margin-bottom: 1vh;
    cursor: pointer;
}

.cardmetames {
    background-color: var(--rosaprimario);
    margin-left: 1vw;
    color: white;
    margin-right: 1vw;
    border-radius: 1vw;
    padding: 1vw;
    width: 53vw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 0.8vw;
}

.metasblock {
    background-color: rgb(238, 236, 236);
    padding: 2vw;
    margin: 1vw;
    border-radius: 1vw;
}

.metasblock {
    font-size: 0.8vw;
}

.metaslist {
    display: block;

}

.metaslist input {
    width: 100%;
    background: transparent;
    font-size: 1vw;
    border: none;
    outline: none;
}

.inputboxmetas {
    padding: 1vw;
    background-color: rgb(226, 225, 225);
    border-radius: 1vw;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.metasrightside {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metasrightside i {
    font-size: 1.5vw;
}

.metasrightside:hover {
    color: var(--rosaprimario);
}

.metasblock {
    margin-right: 1vw;
    
}


.planilhablock-a h1 {
    color: var(--rosaprimario);
}

.planilhablock-a:hover {
    background-color: #cecece;
    transition: 500ms;
}

.cardtitlepc {
    display: block;
}

.planilhablock-a a {
    color: black;
    text-decoration: none;
}



.orders-recents {
    width: 100%;
    background-color: #e4e4e4;
    padding: 1vw;
    border-radius: 2vw;
}

.tbodyplanilharecents {
    padding: 2vw;
}

.vermaisplanilha a {
    text-decoration: none;
}

.downloadbutton {
    background-color: #f18ebe;
    color: white;
    padding: 1vw 4vw 1vw 4vw;
    border-radius: 1vw;
    border: none;
    cursor: pointer;
    margin: 2vw;
}

.inputbutton {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 1vw 4vw 1vw 4vw;
    border-radius: 1vw;
    cursor: pointer;
    border: none;
    text-align: center;
}

input.inputbutton::-webkit-file-upload-button {
    background-color: transparent;
    color: rgb(255, 101, 222);
    border: 0.1vw solid rgb(255, 101, 222);
    cursor: pointer;


}

input.inputbutton::-webkit- {
    display: none;
}

.vermaisplanilha h1{
    text-align: center;
    margin: auto;
    margin-top: 1vh;
    color: var(--rosaprimario);
    border: 0.1vw dashed var(--rosaprimario);
    border-radius: 10vh;
    font-size: 1vw;
    font-weight: 400;
    width: 20vw;
    margin-bottom: 1vh;
}

.blocks-contents-right a {
    text-decoration: none;
    font-size: 1vw;
    color: black;
}

.blockfornecedores h1 {
    font-size: 0.9vw;
}

.blockfornecedores p{
    font-size: 0.7vw;
}

.blockfornecedores-leftside {
    display: flex;
    align-items: center;
}

.blocks-contents-fornecedores {
    background-color: #e4e4e4;
    padding: 1vw;
    border-radius: 2vw;
}

.columsplanilha {
    font-size: 1vw;
    font-weight: 500;
    color: var(--rosaprimario);
}

.blockfornecedores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e4e4;
    padding: 0vw;
    margin-bottom: 1vh;
    border-radius: 0vw;
}

.imgrightside img{
    width: 7vw;
    margin-right: 3vw;
}


.blockfornecedores-add h1 {
    border: 0.1vw dashed var(--rosaprimario);
    font-size: 1vw;
    padding: 1vw;
    margin-top: 1vh;
    text-align: center;
    color: var(--rosaprimario);
    border-radius: 2vw;
    cursor: pointer;
    font-weight: 500;
}

.blockfornecedores img{
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 10vw;
    margin-right: 1vw;
}

.fixed-bar-left-mobile {
    display: none;
}

h1.title-opcoes-pc{
    font-size: .87vw;
    font-weight: 500;
    padding-left: 1vh;
    color: #ffffff;
    background-color: var(--rosaprimario);
    border-radius: 1vw;
    padding: 1vh;
    margin-bottom: 1vh;
    
}

label#embreve {
    color: rgb(255, 255, 255);
    font-size: 0.4vw;
    background-color: rgb(255, 0, 0);
    padding: 0.2vw;
    border-radius: 1vw;
    position: absolute;
    right: 13vw;

}

.openmenumobile {
    display: none;
}

.topsettings {
    display: flex;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.contashow {
    display: flex;
    align-items: center;
}

.planilhablockindex {
    margin: 1vw;
    padding: 1vw;
    background-color: transparent;
    border-radius: 1vw;
}

.planilhablockindex a{
    text-decoration: none;
    color: black;
}

.planilhablockindex h2 {
    color: var(--rosaprimario);
}

.pedidopendente {
    margin: 0vw;
    padding: 1vw;
    background-color: rgb(238, 236, 236);
    border-radius: 1vw;
    width: 39vw;
    margin-bottom: 1vh;
    
}

.pedidopendente h1 {
    font-size: 1.2vw;
    margin-bottom: 1vh;
}

.headerpedidoobs {
    
    align-items: center;
    display: flex;
}

.divPedidosPendentes {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw;
}


.headerclient h1 {
    color: #0c0c0c;
}

.headerclient {
    display: flex;

}

.pedidopendente p {
    margin-left: 2vw;
    margin-top: 0.5vh;
    font-size: 0.8vw;
}

.checkbox select {
    margin-left: 1vw;
    background-color: white;
    outline: none;
    color: black;
}

.bodyorder p{
    width: 25vw;
    overflow-x: auto;
}

.primaryside {
    display: block;
    width: 10vw;
    overflow-x: auto;
}

h2.pendente {
    background-color: rgb(255, 123, 0);
    width: 7vw;
    text-align: center;
    color: white;
    border-radius: 10vw;
    font-size: 0.9vw;
}

h2.encomendado {
    background-color: rgb(44, 119, 0);
    width: 7vw;
    text-align: center;
    color: white;
    border-radius: 10vw;
    font-size: 0.9vw;
}

.headerinside {
    display: flex;
    align-items: center;
    margin-left: 0.3vw;
}

.headerpedidoobs i {
    color: rgb(0, 0, 0);
    align-items: center;
    font-size: 1.2vw;
    padding: 0.2vw;
    border-radius: 0.2vw;
}

.divPedidosPendentes {
    justify-content: space-between;
    display: flex;
}

.contashow img {
    margin-right: 0.5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 10vw;
    object-fit: cover;
}

.contashow p{
    font-size: 0.9vw;
    color: grey;
}

.contashow h1 {
    font-size: 0.9vw;
    font-weight: 500;
}

.titleoption h2{
    font-weight: 600;
    font-size: 1.5vw;
    margin-left: 3vw;
}

.contentinsidesettings {
    display: flex;
}

.leftsidesettingsbar a {
    display: block;
    padding: 1vw 2vw 1vw 2vw;
    background-color: transparent;
    border: 0.1vw solid rgb(241, 241, 241);
    text-align: left;
    justify-content: space-between;
    cursor: pointer;
    font-size: 0.9vw;
    color: rgb(68, 67, 67);
}

a.optionselectedsettings {
    font-weight: 500;
    border-left: 0.2vw solid var(--rosaprimario);
    color: black;
}

.divTable i {
    font-size: 1vw;
  }
  
  .bxs-chevron-up-circle {
    color: #00C9A7;
  }
  
  .bxs-chevron-down-circle {
    color: #D83121;
  }


@media screen and (max-width: 980px) {
    .pedidopendente {
        margin: 0vw;
        padding: 1vw;
        background-color: rgb(238, 236, 236);
        border-radius: 1vw;
        width: 97vw;
        margin-bottom: 1vh;
    }
    
    .pedidopendente h1 {
        font-size: 4vw;
        margin-bottom: 1vh;
    }
    
    .headerpedidoobs {
        
        align-items: center;
        display: flex;
    }
    
    .divPedidosPendentes {
        display: flex;
        flex-wrap: wrap;
        margin: 2vw;
    }
    
    
    .headerclient h1 {
        color: #0c0c0c;
    }
    
    .pedidopendente p {
        margin-left: 10vw;
        margin-top: 0.5vh;
        font-size: 3vw;
    }
    
    .checkbox select {
        margin-left: 1vw;
        background-color: white;
        outline: none;
        color: black;
    }
    
    
    h2.pendente {
        background-color: rgb(255, 123, 0);
        width: 25vw;
        text-align: center;
        color: white;
        border-radius: 10vw;
        font-size: 3vw;
    }
    
    h2.encomendado {
        background-color: rgb(44, 119, 0);
        width: 25vw;
        text-align: center;
        color: white;
        border-radius: 10vw;
        font-size: 3vw;
    }

    .headerinside {
        display: flex;
        align-items: center;
        margin-left: 0.3vw;
    }
    
    .headerpedidoobs i {
        color: rgb(0, 0, 0);
        align-items: center;
        font-size: 4vw;
        padding: 3vw;
        border-radius: 5vw;
    }
    
    .divPedidosPendentes {
        justify-content: space-between;
        display: flex;
    }
    
    .downloadbutton {
        background-color: #f360a7;
        color: white;
        padding: 2vw 8vw 2vw 8vw;
        border-radius: 1vw;
        border: none;
        margin: 4vw;
    }
    
    .inputbutton {
        background-color: transparent;
        color: rgb(0, 0, 0);
        padding: 2vw 8vw 2vw 8vw;
        border-radius: 1vw;
        border: none;
        margin: 4vw;
    }

    input.inputbutton::-webkit-file-upload-button {
        background-color: transparent;
        color: rgb(255, 101, 222);
        border: 0.1vw solid rgb(255, 101, 222);
        cursor: pointer;
        background-color: white;
    
    }

    .divTable i {
        font-size: 4vw;
      }
      
      .bxs-chevron-up-circle {
        color: #00C9A7;
      }
      
      .bxs-chevron-down-circle {
        color: #D83121;
      }

      
    label#embreve {
        color: rgb(255, 255, 255);
        font-size: 2vw;
        background-color: rgb(255, 0, 0);
        padding: 0.2vw;
        border-radius: 1vw;
        position: absolute;
        right: 10vw;
    
    }
    .fixed-bar-left {
        width: 16vw;
        background: var(--rosaprimario);
        position: fixed;
        display: none;
        height: 100vh;
    }

    .resume {
        margin: auto;
        width: 85vw;
        padding: 5vw;
        background-color: rgb(238, 236, 236);
        border-radius: 1vw;
        font-size: 4vw;
    }

    .fixed-bar-left-mobile {
        display: none;
        width: 70vw;
        height: 100vh;
        background: #ffffff;
        position: fixed;
        z-index: 1000;
        padding-top: 2vh;
        box-shadow: 0.2vw 0.5vw 5vw rgb(172, 170, 170);
        animation: abrirmenumobile 0.1s ease-in-out;
        -webkit-animation: abrirmenumobile 0.4s ease-out;
        border-radius: 0 3vw 3vw  0 ;
    }

    @keyframes abrirmenumobile {
        0% {
            transform: translateX(-500px);
        }

        100% {
            
        }
    }

    .top-mobile-bar {
        display: flex;
        margin-right: 3vh;
        margin-left: 3vh;
        align-items: center;
        justify-content: space-between;

    }

    .top-mobile-bar img {
        width: 30vw;
    }

    .top-mobile-bar i {
        font-size: 7vw;
        color: rgb(0, 0, 0);
    }

    .opções-down-bar {
        margin-top: 5vh;
    }

    .item-opcoes-down {
        background-color: transparent;
        margin: auto;
        margin-bottom: 2vh;
        width: 90%;
        padding: 2vh;

    }

    .item-opcoes-down a {
        color: grey;
        text-decoration: none;
        font-size: 4vw;
        width: 100%;
        padding: 2vh;
    }

    .item-opcoes-down#selectedpage{
        border-left: 0vw solid var(--rosaprimario);
        color: var(--rosaprimario);
        background-color: #ffdbed;
        border-radius: 3vw;

    }

    .item-opcoes-down#selectedpage a {
        color: var(--rosaprimario);
    }

    .title-opcoes {
        font-size: 4.5vw;
        font-weight: 600;
        padding-left: 1vh;
        color: #ffffff;
        background-color: var(--rosaprimario);

        padding: 1vh;
        margin-bottom: 1vh;
        
    }

    /* LOGIN PAGE */

        .form {
            margin: auto;
            width: 90vw;
            justify-content: center;
            border: 0px solid rgb(224, 224, 224);
            border-radius: 1vw;
            margin-top: 10vh;
            padding: 2vw;
            padding-left: 4vw;
            padding-right: 4vw;
            text-align: center;
        }

        .form h1 {
            font-size: 5.3vw;
            margin-top: 4vh;
            margin-bottom: 5vh;
        }

        .form label {
            font-size: 4vw;
            font-weight: 600;
        }

        .form .inputs-form .ipt-form{
            display: block;
            text-align: left;
            margin-top: 2vh;
            
        }

        .form img {
            width: 60vw;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }

        .ipt-form input{
            width: 100%;
            border: none;
            outline: none;
            padding-bottom: 2vw;
            padding-top: 2vw;
            font-size: 4vw;
        }

        .iptinside {
            display: flex;
            justify-content: space-between;
            border-bottom: 0.1vw solid rgb(197, 197, 197);
            align-items: center;
        }

        .iptinside i {
            padding-right: 3vw;
            padding-left: 3vw;
            color: rgb(126, 126, 126);
            font-size: 4vw;
        }

        .form button {
            width: 100%;
            margin-top: 10vh;
            color:  var(--brancoprimario);
            padding-top: 3vw;
            padding-bottom: 3vw;
            border-radius: 2vw;
            border: none;
            background-color: var(--rosaprimario);
            cursor: pointer;
            font-size: 3vw;
        }

        .form button:hover {
            background-color:  var(--brancoprimario);
            color: var(--rosaprimario);
            border: 0.5vw solid var(--rosaprimario);
            transition: 300ms;
        }
        

        .continuewith {
            display: none;
        }

        .accountcontinue img{
            width: 15vw;
            height: 15vw;
            object-fit: cover;
            border-radius: 100vw;
            margin-right: 2vw;
        }

        

        .accountcontinue-details {
            display: block;
            

        }

        .accountcontinue-mini {
            display: flex;
            align-items: center;
        }

        .accountcontinue-details h1 {
            font-size: 4vw;
            margin: 0;
            padding: 0;
        }

        .accountcontinue-details p {
            font-size: 3vw;
        }

        .accountcontinue i {
            font-size: 5vw;
        }

        .labelaccount {
            margin-top: 5vh;
        }

        .labelaccount label{
            cursor: pointer;
        }

        .labelaccount label:hover{
            color: var(--rosaprimario);
        }

        .caixa-alerta-erro {
            background-color: red;
            color:  var(--brancoprimario);
            font-size: 1vw;
            padding-top: 2vh;
            padding-bottom: 2vh;
            margin-top: 1vw;
            margin-bottom: 1vw;
            display: none;
            border-radius: 1vw;
        }

        .titleplanilhas {
            background-color: #e4e4e4;
            margin: auto;
            padding: 2vw;
            width: 90vw;
            border-radius: 1vw;
            margin-bottom: 2vh;
            font-size: 2.5vw;
        }
        
        .planilhablock-a {
            background-color: #e4e4e4;
            margin: auto;
            padding: 8vw 4vw 8vw 4vw;
            width: 90vw;
            border-radius: 1vw;
            margin-bottom: 1vh;
            cursor: pointer;
            font-size: 3vw;
        }
        
        .planilhablock-a h1 {
            color: var(--rosaprimario);
        }
        
        .planilhablock-a:hover {
            background-color: #cecece;
            transition: 500ms;
        }
        
        .planilhablock-a a {
            color: black;
            text-decoration: none;
        }

        .accountcontinue {
            display: flex;
            align-items: center;
            background-color: #E7E7E7;
            padding: 2vw;
            justify-content: space-between;
            padding-top: 0; 
            padding-bottom: 0;
            border-radius: 1vw;
            height: 20vw;
            cursor: pointer;
        }

        .cardmetames {
            background-color: var(--rosaprimario);
            border-radius: 2vw;
            padding: 3vw;
            width: 90vw;
            margin: auto;
            color: white;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
        }
        
        .metasblock {
            background-color: rgb(238, 236, 236);
            padding: 6vw;
            margin: 4vw;
            border-radius: 1vw;
        }
        
        .metasblock {
            font-size: 0.8vw;
        }

        .cardmetames h1{
            font-size: 5vw;
            
        }

        .cardmetames p{
            font-size: 4vw;
            
        }
        
        .metaslist {
            display: block;
        
        }
        
        .metaslist input {
            width: 100%;
            background: transparent;
            font-size: 4vw;
            border: none;
            outline: none;
        }
        
        .inputboxmetas {
            padding: 3vw;
            background-color: rgb(226, 225, 225);
            border-radius: 2vw;
            margin-bottom: 2vh;
            margin-top: 2vh;
        }
        
        .metasrightside {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .metasrightside i {
            font-size: 5vw;
            color: white;
            display: none;
        }
        
        .metasrightside:hover {
            color: var(--rosaprimario);
        }
        
        .metasblock {
            margin-right: 1vw;
            
        }

        

        .metasblock h1 {
            font-size: 5vw;
        }

        .metasblock p {
            font-size: 3.5vw;
        }

        .metasblock label {
            font-size: 3vw;
            font-weight: 700;
        }
        

        .accountcontinue:hover {
            transition: 500ms;
            background-color: #c5c5c5;
        }

        /* PAGE */

        .overview-page {
            margin-left: 0vw;
        }

        .header-page {
            display: flex;
            padding: 5vw;
            justify-content: space-between;
        }

        .header-page h1 {
            font-size: 5vw;
            color: var(--rosaprimario);
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .profile i {
            font-size: 5vw;
            cursor: pointer;
        }

        .profile i:hover {
            color: var(--rosaprimario);
        }

        .profile-change {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 2vw;
            padding-left: 2vw;
            cursor: pointer;
        }

        .profile-change img {
            width: 5vw;
            height: 5vw;
            object-fit: cover;
            margin-right: 1vw;
            border-radius: 10vw;
            border: 0.1vw solid black
        }

        .profile-change label {
            font-size: 4vw;
            margin-right: 1vw;
            cursor: pointer;
        }

        .profile-change:hover, .profile-change i:hover {
            color: grey;
        }

        /* page */

        .menu-profile-change {
            display: block;
            position: absolute;
            z-index: 200;
            background:  var(--brancoprimario);
            border: 0.1vw solid rgba(0, 0, 0, 0.226);
            border-radius: 0.7vw;
            left: 45vw;
            width: 53vw;
            padding: 1vw;
            margin-top: 0vh;
            display: none;
        }

        .backgrond, .background-planosemanal {
            width: 100vw;
            height: 100vh;
            display: none;
            position: fixed;
            background-color: transparent;
            z-index: 100;
        }

        .background-planosemanal {
            background-color: rgba(255, 255, 255, 0.5);
            z-index: 100;
            display: none;
        }

        .imgrightside img{
            width: 25vw;
            margin-right: 3vw;
        }

        .userprofileshow {
            display: flex;
            align-items: center;
            padding: 2vw;
            border-radius: 5vw;
        }

        .account-show {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .userprofileshow:hover {
            background: rgb(224, 223, 223);
            cursor: pointer;
        }

        .userprofileshow i {
            font-size: 4vw;
        }

        .account-show img {
            width: 10vw;
            height: 10vw;
            object-fit: cover;
            border-radius: 5vw;
            margin-right: 1vw;
        }

        .infoaccount {
            display: block;
            align-items: center;
            justify-content: center;
        }

        .infoaccount h1 {
            font-size: 3vw;
            font-weight: 700;
        }

        .infoaccount p {
            font-size: 3vw;
            font-weight: 400;
        }

        .userbuttonsprofile {
            display: flex;
            justify-content: right;
            margin-top: 3vh;
        }

        .userbuttonsprofile .button-profile {
            padding: 1vw;
            background-color: #E7E7E7;
            border-radius: 5vw;
            font-size: 3vw;
            font-weight: 500;
            cursor: pointer;
        }

        .cardtitlepc {
            display: none;
        }
        .button-profile label {
            cursor: pointer;
        }

        .notifications {
            position: absolute;
            background-color:  var(--brancoprimario);
            border: 0.1vw solid;
            padding: 2vw;
            width: 50vw;
            height: 35vw;
            overflow-y: auto;
            left: 45vw;
            border-radius: 1vw;
            display: none;
            z-index: 200;
        }
        
        .notifications h1 {
            font-size: 3vw;
            margin-top: 1vh;
        }
        
        .notifications .not-block {
            background-color: #D9D9D9;
            border-radius: 1vw;
            padding: 2vw;
            margin-top: 2vh;
        }

        .not-block h2 {
            font-size: 3vw;
        }
        .not-block p {
            font-size: 2.5vw;
        }

        .openmenumobile {
            display: block;
        }
        
        .newItem {
            margin: 3vh;
            padding: 3vh;
            background-color: rgb(238, 236, 236);
            border-radius: 1vw;
        }
        
        .newItem h1 {
            font-size: 4vw;
        }
        
        .newItem p {
            font-size: 3vw;
        }

        .exboxitem {
            margin-top: 2vh;
            padding-left: 2vw;
        }
        
        .boxitempla {
            display: block;
            padding: 2vw;
            margin-bottom: 1vh;
            font-size: 3vw;
            background-color: rgb(226, 225, 225);
            border-radius: 2vw;
        
        }
        
        .boxitempla input {
            width: 100%;
            background: transparent;
            font-size: 4vw;
            border: none;
            outline: none;
        }
        
        #btnNew {
            margin: auto;
            margin-top: 1vh;
            padding: 0.5vw 2.5vw 0.5vw 2.5vw;
            background-color: var(--rosaprimario);
            color:  var(--brancoprimario);
            border: none;
            border-radius: 0.5vw;
            font-size: 4vw;
            cursor: pointer;
            border: 0.1vw solid transparent;
        }
        
        #btnNew:hover {
            background-color:  var(--brancoprimario);
            color: var(--rosaprimario);
            border: 0.1vw solid var(--rosaprimario);
        }
        
        .divTable {
            margin: 1vh;
            padding: 1vh;
            background-color: rgb(238, 236, 236);
            border-radius: 1vw;
        
        }
        
        .titlecolumns {
            font-size: 2.0vw;
            color: rgb(0, 0, 0);
            background-color: #ffadd4;
        }
        
        tr th{
            width: 40vw;
            text-align: center;
            justify-content: center; 
        }
        
        .headeritem {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .side2item {
            font-size: 4vw;
            border-radius: 55vw;
            padding: 1vw;
            cursor: pointer;
        }
        
        .side3item {
            display: none;
            font-size: 4vw;
            border-radius: 55vw;
            padding: 1vw;
            cursor: pointer;
        }

        .side2item:hover, .side3item:hover{
            color: var(--rosaprimario);
        }

        tbody{
            width: 100%;
            font-size: 2.5vw;
        }

        .block {
            width: 100%;
            background-color: #e4e4e4;
            border-radius: 5vw;
            padding: 5vw;
            font-size: 2.5vw;
            margin-bottom: 1vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .block h1 {
            font-size: 4vw;
            font-weight: 500;
        }

        .block h2 {
            font-size: 6vw;
        }

        .graphcircle {
            width: 20vw;
            height: 20vw;
            background-color:  var(--brancoprimario);
            border: 3vw solid var(--rosaprimario);
            border-radius: 10vw;
            text-align: center;

        }

        .graphcircle p{
            align-items: center;
            margin-top: 2.3vh;
            font-size: 3vw;
            font-weight: 600;
        }
        
        .block:hover {
            background-color: #d4d4d4;
            transition: 500ms;
            cursor: pointer;
        }
        
        .block i {
            background-color: var(--rosaprimario);
            border-radius: 10vw;
            font-size: 3vw;
            padding: 1vw;
            margin-bottom: 1vh;
            color:  var(--brancoprimario);
        }

        .blocks-contents {
            display: block;
            justify-content: center;
            flex-wrap: nowrap;
            width: 100%;
        }
        
        .contentoverview {
            display: block;
            justify-content: center;
            margin-left: 2vh;
            margin-right: 2vh;
        }
        
        .blocks-contents-right {
            width: 100%;
            margin-left: 0vh;
            margin-right: 0vh;
        }

        .bodyorder p{
            width: 49.1vw;
            overflow-x: auto;
        }
        
        .primaryside {
            display: block;
            width: 30vw;
            overflow-x: auto;
        }
        
        .toptitlecard {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .toptitlecard h1 {
            font-size: 5vw;
        }

        .toptitlecardmobile {
            display: block;
        }
        
        .toptitlecard label {
            color: var(--rosaprimario);
            font-size: 4vw;
            cursor: pointer;
            border-bottom: 0.1vw solid transparent;
        }
        
        .toptitlecard label:hover {
            border-bottom: 0.1vw solid var(--rosaprimario);
        }
        
        


        .toptitlecardmobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .toptitlecardmobile h1 {
            font-size: 5vw;
        }

        .toptitlecardmobile {
            display: block;
        }
        
        .toptitlecardmobile label {
            color: var(--rosaprimario);
            font-size: 4vw;
            cursor: pointer;
            border-bottom: 0.1vw solid transparent;
        }
        
        .toptitlecardmobile label:hover {
            border-bottom: 0.1vw solid var(--rosaprimario);
        }
        
        .planilha-recents {
            width: 100%;
            background-color: #e4e4e4;
            overflow: scroll;
            border-radius: 2vw;
        }
        
        .block-content {
            width: 100%;
            background-color: #e4e4e4;
            border-radius: 0.5vw;
            padding: 1vw;
            font-size: 3vw;
        }
        
        .orders-recents {
            width: 100%;
            background-color: #e4e4e4;
            padding: 1vw;
            border-radius: 2vw;
        }
        
        .tbodyplanilharecents {
            padding: 2vw;
        }
        
        .vermaisplanilha a {
            text-decoration: none;
        }
        
        .vermaisplanilha h1{
            text-align: center;
            margin: auto;
            margin-top: 1vh;
            color: var(--rosaprimario);
            border: 0.1vw dashed var(--rosaprimario);
            border-radius: 10vh;
            font-size: 3.5vw;
            font-weight: 400;
            width: 50vw;
            margin-bottom: 1vh;
        }
        
        .blocks-contents-right a {
            text-decoration: none;
            font-size: 1vw;
            color: black;
        }
        
        .blockfornecedores h1 {
            font-size: 3vw;
        }
        
        .blockfornecedores p{
            font-size: 2.7vw;
        }
        
        .blockfornecedores-leftside {
            display: flex;
            align-items: center;
        }
        
        .blocks-contents-fornecedores {
            background-color: #e4e4e4;
            padding: 1vw;
            border-radius: 2vw;
        }
        
        .columsplanilha {
            font-size: 2.7vw;
            font-weight: 500;
            color: var(--rosaprimario);
        }
        
        .blockfornecedores {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #e4e4e4;
            padding: 1vw;
            margin-bottom: 1vh;
            border-radius: 0vw;
        }
        
        .blockfornecedores-add h1 {
            border: 0.1vw dashed var(--rosaprimario);
            font-size: 3vw;
            padding: 3vw;
            margin-top: 1vh;
            text-align: center;
            color: var(--rosaprimario);
            border-radius: 2vw;
            cursor: pointer;
            font-weight: 500;
        }
        
        .blockfornecedores img{
            width: 10vw;
            height: 10vw;
            object-fit: cover;
            border-radius: 10vw;
            margin-right: 1.5vw;
        }

        .fornecedoreslist {
            margin: auto;
            justify-content: center;
        }

        .fornecedor iframe {
            width: 90%;
            height: 100vh;
        }

        /* CONTA */

        .form-profile {
            width: 100%;
            margin: auto;
            text-align: center;
            border:  none;
            padding: 1vw;
            margin-top: 0vh;
            border-radius: 0.2vw;
            display: block;
            border: 0.5vw solid rgb(218, 218, 218);
            margin-top: 3vh;
        }

        .form-profile img {
            width: 45vw;
            display: block;
            margin: auto;
        }

        .form-profile .fotoperfilprofile {
            width: 35vw;
            height: 35vw;
            border-radius: 40vw;
            object-fit: cover;
        }

        .titleprofile {
            text-align: center;
            margin-bottom: 3vh;
        }

        .titleprofile h1{
            font-size: 3vw;
        }

        .titleprofile p {
            font-size: 2.5vw;
        }

        .form-profile-items {
            text-align: left;
        }

        .infogeralperfil{
            border-left: 1vw solid black;
            padding-left: 3vw;
        }

        .infogeralperfil h1{
            font-size: 3vw;
        }

        .infogeralperfil p{
            font-size: 2.5vw;
        }

        .form-profile-items img{
            width: 30vw;
            height: 10vw;
            border: 0.1vw solid black;
        }

        .fornecedor img {
            width: 20vw;
            height: 20vw;
            border-radius: 20vw;
            margin-right: 1vw;
        }
        
        .flexfornecedor {
            display: block;
            align-items: center;
        }
        
        .fornecedoreslist {
            width: 90%;
            justify-content: center;
            margin: auto;
        }
        
        .fornecedoreslist .fornecedor {
            background: #e4e4e4;
            padding: 5vw;
            margin-bottom: 1vh;
            border-radius: 2vw;
            display: block;
            justify-content: center;
        }

        .fornecedoradd {
            border: var(--rosaprimario) dashed 1vw;
            color: var(--rosaprimario);
            text-align: center;
            padding: 5vw;
            margin-bottom: 1vh;
            border-radius: 2vw;
            display: block;
            justify-content: center;
        }
        
        .fornecedor iframe {
            width: 100%;
            height: 60vh;
            margin-top: 2vh;
            border-radius: 5vw;
        }

        .cyabrir, .lumiabrir {
            display: none;
        }

        .fornecedoresblock .titlefor {
            font-size: 6vw;
            padding-left: 5vw;
            margin-bottom: 2vh;
        }


        .topsettings {
            display: block;
            margin-bottom: 2vh;
            margin-top: 2vh;
        }
        
        .contashow {
            display: flex;
            align-items: center;
            margin-left: 3vw;
        }
        
        .contashow img {
            margin-right: 2vw;
            width: 15vw;
            height: 15vw;
            border-radius: 10vw;
            object-fit: cover;
        }
        
        .contashow p{
            font-size: 3vw;
            color: grey;
        }
        
        .contashow h1 {
            font-size: 4vw;
            font-weight: 500;
        }
        
        .titleoption h2{
            font-weight: 600;
            font-size: 7vw;
            margin-left: 0vw;
            margin-bottom: 3vh;
            margin-top: 3vh;
            margin-left: 3vw;
            border-left: 0vw solid var(--rosaprimario);
            padding-left: 0vw;
        }
        
        .contentinsidesettings {
            display: block;
            margin-left: 3vw;
        }
        
        .leftsidesettingsbar a {
            display: block;
            padding: 2vw 3vw 2vw 3vw;
            background-color: transparent;
            border: 0.5vw solid rgb(241, 241, 241);
            text-align: left;
            justify-content: space-between;
            cursor: pointer;
            font-size: 4vw;
            color: rgb(68, 67, 67);
        }
        
        a.optionselectedsettings {
            font-weight: 500;
            border-left: 1vw solid var(--rosaprimario);
            color: black;
        }

        .metasparaalcancar {
            background-color: white;
            padding: 1vw;
            margin-top: 1vh;
            border-radius: 1vw;
            width: 90%;
        }
        
        p.counttometaanual, p.counttometa {
            font-weight: 600;
            font-size: 3vw;
            width: 100%;
        }

        .pctitledisplayonly {
            display: none;
        }
        
}